{% extends 'base.html.twig' %}

{% block title %}Welcome to Ticket Huffer!{% endblock %}

{% block body %}
    <div class="px-12 pt-10 w-full">
        <h1 class="text-4xl font-semibold mb-8">
            Ticket Huffer
        </h1>
        <ul class='list-disc list-inside'>Available tickets
            {% for ticket in tickets %}
                <li data-ticket-id="{{ ticket.id }}">
                    <a href="{{ path('app_ticket_detail', {id: ticket.id}) }}">
                        {{ ticket.artist }} playing at {{ ticket.venue }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
